.news-menu ul {
    margin: 2rem 0;
}

.news-menu ul li {
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
}

.active::before {
    position: absolute;
    content: '';
    width: 100%;
    bottom: -0.4rem;
    left: 0;
    height: .5rem;
    background-color: var(--primaryColor);
}

.news-tittle {
    height: 20rem;
}

.news-same-info a {
    color: white;
    margin: 0;
    font-size: var(--px20);
    display: block;
}

.news-same-info>span {
    font-size: var(--px10);
    color: rgb(206, 202, 202);
    margin-bottom: .5rem;
}

.news-same-info .news-same-icon {
    color: rgb(206, 205, 205);
    font-size: var(--px10);
    margin-top: .5rem;
}

.news-left>row {
    height: 10rem;
}

.news-left-item {
    height: 100%;
    padding-right: 0;
}

.news-left-item-img {
    height: 7.5rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 1rem;
}

.news-left-item-img img {
    width: 100%;
}

.news-left-item-info a {
    color: #000;
    font-size: var(--px18);
    font-weight: 700;
    display: block;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.news-left-item-info p {
    font-size: var(--px12);
}

.news-right-title {
    margin: .8rem 0;
}

.news-right-title p {
    font-size: var(--px12);
}

.news-right-item-img {
    height: 4.7rem;
    overflow: hidden;
    border-radius: 1rem;
}

.news-right-item-img img {
    width: 100%;
}

.news-right-item-info a {
    color: #000;
    font-size: var(--px11);
    display: block;
    line-height: 1.2;
    font-weight: 500;
    margin-top: .5rem;
}

@media (min-width: 1600px) {}

@media (min-width: 1200px) and (max-width:1599.99px) {
    html, body {
        font-size: 16px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    html, body {
        font-size: 15px !important;
    }
    
    .news-tittle {
        height: 16rem;
    }
    .news-left-item{
        padding: 0 1rem;
    }
    .news-right-item{
        display: flex;
    }
    .news-right-item-img{
        height: 8rem;
    }
    .news-right-item-info a{
        margin-left: 1rem;
    }
    .news-right{
        padding: 0 1rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    html, body {
        font-size: 14px;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .news-menu ul {
        margin: 1rem !important;
    }
    .news-tittle {
        height: 57rem;
        margin: 0;
    }
    .news-same{
        border-radius: 3rem;
        margin-top: 2rem;
    }
    .new-title-height {
        height: 27rem !important;
    }
    .news-left-item-img{
        height: 14rem;
    }
    .news-right-item-img{
        height: 14rem;
    }
    .pr-2 {
        padding-right: 1.5rem!important;
    }
    .pl-2 {
        padding-left: 1.5rem!important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    html, body {
        font-size: 12px;

    }

    .row {
        width: 100%;
        margin: 0;
    }

    .news-menu ul {
        margin: 2rem !important;
    }

    .news-tittle {
        height: 45rem;
        margin: 0;
    }

    .new-title-height {
        height: 20rem !important;
    }

    .hot-news {
        width: 100%;
        margin: 0;
    }

    .news-left-item-img {
        height: 10rem;
    }

    .news-right {
        padding: 0 1rem !important;
    }

    .news-right-item-img {
        height: 9rem;
    }

    .news-left-item {
        padding: 0;
    }

    .news-right-item {
        padding: 0;
    }
}

@media (min-width: 414px) and (max-width: 575.98px) {
    html, body {
        font-size: 11px;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .news-menu ul {
        margin: 2rem !important;
    }

    .news-tittle {
        height: 45rem;
        margin: 0;
    }

    .new-title-height {
        height: 20rem !important;
    }

    .hot-news {
        width: 100%;
        margin: 0;
    }

    .news-left-item-img {
        height: 10rem;
    }

    .news-right {
        padding: 0 1rem !important;
    }

    .news-right-item-img {
        height: 9rem;
    }

    .news-left-item {
        padding: 0;
    }

    .news-right-item {
        padding: 0;
    }
}


@media (max-width: 413.99px) {
    html, body {
        font-size: 10px !important;
    }

    .news-menu ul {
        margin: 2rem !important;
    }

    .news-tittle {
        height: 45rem;
        margin: 0;
    }

    .new-title-height {
        height: 20rem !important;
    }

    .hot-news {
        width: 100%;
        margin: 0;
    }

    .news-left-item-img {
        height: 10rem;
    }

    .news-right {
        padding: 0 1rem !important;
    }

    .news-right-item-img {
        height: 9rem;
    }
}