.bd-1 {
    border-bottom: 1px solid #999;
    width: 70%;
    margin: 0;
}

.m-t-4 {
    margin-top: 4rem;
}

.main {
    margin-bottom: 3rem;
}

.new-post-main {
    height: 24rem;
}

.new-post-right_item {
    padding: 1.05rem 0;
}

.new-post-right_item__img {
    height: 6.5rem;
    overflow: hidden;
    padding: 0 !important;
}

.new-post-right_item__img img {
    width: 100%;
    border-radius: 1rem;
    height: 100%;
}

.new-post-right_item:nth-child(2) {
    border-top: 1px solid #999;
    border-bottom: 1px solid #333;
}

.new-post-right_item__info a {
    font-weight: 700;
    font-size: var(--px16);
    line-height: 0;
    color: #000;
}

/* SLIDER */
.post-main {
    background-color: var(--primaryColor);
    padding: 1rem 0;
}

.slider-item:nth-child(1) {
    padding-right: 5rem;
}

.slider-item:nth-child(2) {
    padding: 0 2.5rem;
}

.slider-item:nth-child(3) {
    padding-left: 5rem;
}

.slider-item-info>a {
    font-size: var(--px18);
    font-weight: 700;
    margin-top: .5rem;
    display: block;
    color: #000;
}

.slider-item-img {
    border-radius: 1rem;
    overflow: hidden;
    height: 11rem;
}

.slider-item .icon {
    font-size: var(--px12);
    color: #000;
    font-weight: 500;
}

.carousel-control-next, .carousel-control-prev {
    width: auto;
    bottom: 3rem;
}

.carousel-control-prev {
    left: -4rem;
}

.carousel-control-next {
    right: -4rem;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    color: #fff;
}

.inner-mb {
    display: none;
}

/* news */
.news-item {
    padding: 0 1rem 2rem;
}

.news-item-img {
    height: 7rem;
    overflow: hidden;
    padding: 0 !important;
    border-radius: 1rem;
}

.news-item-img img {
    width: 100%;
    height: 100%;
}

.news-item-info a {
    color: #000;
    font-size: var(--px18);
    font-weight: 700;
}

.news-item-info p {
    font-size: var(--px12);
}

.ltc-tv-main {
    height: 30rem;
    padding: 3rem;
    background-color: var(--primaryColor);
    margin: 0;
}

.knowledge-item-img {
    height: 6rem;
    border-radius: 1rem;
    overflow: hidden;
}

.knowledge-item-img img {
    width: 100%;
}

.knowledge-item-content {
    padding-right: 0;

}

.knowledge-item-content a {
    display: block;
    font-size: var(--px18);
    font-weight: 700;
    line-height: 1.3;
    color: #000;
}

.knowledge-item {
    padding: 1rem 0;
}

.knowledge-list-item {
    padding-right: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    transition: .3s all ease;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    position: relative;
}

.container {
    padding: 0 !important;
}

/* HEADER */

header {
    height: 5rem;
    background-color: black;
}

.logo {
    width: 5rem;
    margin-left: 1rem;
}

.menu {
    margin-left: 1.5rem;
}

.menu ul li {
    margin: 0 4rem;
}

.menu ul li a {
    color: white;
    font-size: var(--px20);
    font-weight: 600;
    text-decoration: none;
}

.search {
    position: relative;
    width: 5rem;
}

.search-icon img {
    cursor: pointer;
    width: 25%;
    float: right;
    margin-right: 1rem;
}

.search input {
    position: absolute;
    bottom: -1.9rem;
    right: -3rem;
    padding: .1rem 1rem;
    width: 15rem;
    display: none;
}

.search input::placeholder {
    color: #E4E4E4;
}

/* MAIN */

.bg {
    background-color: #EAEAEA;
}

.title {
    position: relative;
    padding: .5rem 1rem;
    margin: 1.5rem 0;
}

.title p {
    font-weight: 700;
    font-size: var(--px18);
}

.title p::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #F6DF6C;
    width: .4rem;
    height: .8rem;
    transform: translateY(-50%);
}

/* FOOTER */

footer {
    background-color: black;
    padding: 4rem 0;
}

.logo-footer img {
    width: 50%;
}

.title-footer {
    color: #B1B1B1;
    font-size: var(--px15);
}

.link-footer p {
    color: white;
    font-size: var(--px20);
    font-weight: 700;
}

.list-icon img {
    width: 1.5rem;
    margin: 1rem;
}

.message .icon img:nth-child(2) {
    width: 2.5%;
    position: fixed;
    right: 2rem;
    bottom: 1rem;
    cursor: pointer;
}

.message .icon img:nth-child(1) {
    width: 2.5%;
    position: fixed;
    right: 2rem;
    bottom: 4rem;
    cursor: pointer;
}

.box-message {
    height: 22rem;
    width: 16rem;
    border: 1px solid rgb(209, 205, 205);
    position: fixed;
    right: 4.5rem;
    bottom: 5px;
    background-color: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: none;
}

.box-message p {
    width: 100%;
    background-color: var(--primaryColor);
    font-weight: 700;
    font-size: var(--px18);
    border-bottom: 1px solid rgb(209, 205, 205);

}

.box-message-input {
    border-top: 1px solid rgb(209, 205, 205);
}

.box-message-input img {
    width: 10%;
    cursor: pointer;
}

.box-message-input input {
    border: none;
    outline: none;
    font-size: var(--px15);
}

.news-same {
    overflow: hidden;
    position: relative;
    border-radius: 1rem;
    height: 100%;
}

.news-same-info {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .8rem 1.5rem;
}

.news-same-info a {
    color: white;
    margin: 0;
    font-size: var(--px30);
    font-weight: 500;
}

.news-same-info .icon {
    color: white;
    font-size: var(--px12);
}

.view {
    font-size: var(--px20);
    color: #000;
    font-weight: 700;
    margin-top: 3rem;
    cursor: pointer;
}

section {
    position: relative;
}

.mb-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    text-align: center;
    display: none;
}

.mb-menu svg {
    color: #fff;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.mb-menu-logo {
    height: 5rem;
    margin: 2rem 0;
}

.mb-menu-logo img {
    width: 20%;
}

.mb-menu ul {
    margin: auto;
    width: 50%;
    list-style: none;
    margin-top: 10%;
}

.mb-menu ul li {
    margin-bottom: 1rem;
}

.mb-menu ul li a {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
}

@media (min-width: 1600px) {}

@media (min-width: 1200px) and (max-width:1599.99px) {
    html, body {
        font-size: 16px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    html, body {
        font-size: 15px !important;
    }

    .carousel-control-next {
        right: 0;
    }

    .carousel-control-prev {
        left: 0;
    }
    .carousel-inner {
        width: 90%;
        margin: auto;
    }
    .slider-item:nth-child(1) {
        padding-right: 1rem;
    }
    .slider-item:nth-child(3) {
        padding-left: 1rem;
    }
    .slider-item:nth-child(2) {
        padding: 0 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    html, body {
        font-size: 13px;
    }

    .new-post-main {
        height: 73rem;
        width: 100%;
        margin: 0;
    }

    .calendar .row {
        margin: 0 !important;
    }

    .inner-pc {
        display: none;
    }

    .inner-mb {
        display: block;
    }

    .inner-mb .slider {
        width: 85% !important;
        margin: auto;
    }

    .news-item {
        padding: 0;
    }

    .news-item-img {
        height: 10rem;
    }

    .knowledge .row {
        width: 100%;
        margin: 0;
    }

    .news .row {
        width: 100%;
        margin: 1rem 0;
    }

    .new-post-main-left {
        height: 25rem !important;
        padding: 0 2rem;
    }

    .new-post-main-right {
        height: 40rem !important;
        padding: 0 2rem !important;
    }

    .carousel-control-next {
        right: 0rem;
    }

    .carousel-control-prev {
        left: 0rem;
    }

    .new-post-right_item__img {
        height: 13rem;
    }

    .ltc-tv-main {
        padding: 2rem 0;
        height: 80rem;
    }

    .news-same {
        border-radius: 3rem !important;
    }

    .ltc-tv-main-left {
        height: 30rem !important;
        padding: 0 15px !important;
    }

    .ltc-tv-main-right {
        height: 40rem !important;
        padding-left: 15px !important;
    }

    .knowledge-item-img {
        height: 14rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    html, body {
        font-size: 12px;

    }
}

@media (min-width: 414px) and (max-width: 575.98px) {
    html, body {
        font-size: 11px;
    }

    .new-post-main {
        height: 52rem;
        width: 100%;
        margin: 0;
    }

    .new-post-main-left {
        height: 19rem !important;
        padding: 0 2rem;
    }

    .new-post-main-right {
        height: 30rem !important;
        padding: 0 2rem !important;
    }

    .new-post-right_item__img {
        height: 9rem;
    }

    .calendar .row {
        margin: 0 !important;
    }

    .fc-event-title.fc-sticky {
        font-size: 16px !important;
    }

    .inner-pc {
        display: none;
    }

    .inner-mb {
        display: block;
    }

    .inner-mb .slider {
        width: 85% !important;
        margin: auto;
    }

    .inner-mb .slider .slider-item {
        padding: 0 1rem !important;
    }

    .slider-item-img {
        height: 8rem;
    }

    .news-item {
        padding: 0;
    }

    .knowledge .row {
        width: 100%;
        margin: 0;
    }

    .news .row {
        width: 100%;
        margin: 1rem 0;
    }

    .carousel-control-next {
        right: 0rem;
    }

    .carousel-control-prev {
        left: 0rem;
    }

    .ltc-tv-main {
        padding: 2rem 0;
        height: 55rem;
    }

    .ltc-tv-main-left {
        height: 20rem !important;
        padding: 0 15px !important;
    }

    .ltc-tv-main-right {
        height: 30rem !important;
        padding-left: 15px !important;
    }

    .knowledge-item-img {
        height: 9rem;
    }
}

@media (max-width: 413.99px) {
    html, body {
        font-size: 10px !important;
    }

    .new-post-main {
        height: 52rem;
        width: 100%;
        margin: 0;
    }

    .new-post-main-left {
        height: 19rem !important;
        padding: 0 2rem;
    }

    .new-post-main-right {
        height: 30rem !important;
        padding: 0 2rem !important;
    }

    .new-post-right_item__img {
        height: 9rem;
    }

    .calendar .row {
        margin: 0 !important;
    }

    .fc-event-title.fc-sticky {
        font-size: 16px !important;
    }

    .inner-pc {
        display: none;
    }

    .inner-mb {
        display: block;
    }

    .inner-mb .slider {
        width: 85% !important;
        margin: auto;
    }

    .inner-mb .slider .slider-item {
        padding: 0 1rem !important;
    }

    .slider-item-img {
        height: 8rem;
    }

    .news-item {
        padding: 0;
    }

    .knowledge .row {
        width: 100%;
        margin: 0;
    }

    .news .row {
        width: 100%;
        margin: 1rem 0;
    }

    .carousel-control-next {
        right: 0rem;
    }

    .carousel-control-prev {
        left: 0rem;
    }

    .ltc-tv-main {
        padding: 2rem 0;
        height: 55rem;
    }

    .ltc-tv-main-left {
        height: 20rem !important;
        padding: 0 15px !important;
    }

    .ltc-tv-main-right {
        height: 30rem !important;
        padding-left: 15px !important;
    }

    .knowledge-item-img {
        height: 9rem;
    }
}